.header {
    display: flex;
    height: 50px;
    flex-direction: row;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 600;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: auto;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 20px;
    flex-wrap: wrap;
}

.ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

li {
    text-decoration: none;
    list-style: none;
    
}

.one {
    height: 20%;
}

.two {
    height: auto;
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    
}

.three {
    height: auto;
    font-size: 18px;
    color: #e5e7eb;
} 

button{
    color: #f9faf8;
    background-color: #3882f6;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    border: none;
}

.header-2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;    
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    
}

.top-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.box {
    margin-top: 20px;
    width: 125px;
    height: 125px;
    border: 2px solid #3882f6;
    background: transparent;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.flex-container-3 {
    display: flex;
    justify-content: center;
}

.info {
    width: 125px;
    margin-left: 28px;
    margin-right: 28px;
    justify-items: center;
    text-align: center;
    padding-bottom: 30px;  
}

.flex-container-4 {
    display: flex;
    background-color: #e5e7eb;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspirational-quote {
    width: 500px;
    justify-items: space-between;
    font-size: 26px;
    color: #1F2937;
  
}

.quote-sig {
    padding-left: 250px;
}

.flex-container-5 {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.blue-box-left {
    display: flex;
    width: 600px;
    height: 100px;
    background-color: #3882f6 ;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    justify-content: center;
    flex-direction: column;
    
}

.bbl-top {
    color: #e5e7eb;
    padding-left: 70px;
    font-weight: 900;
}

.bbl-bottom {
    color: #e5e7eb;
    padding-left: 70px;
    font-weight: 100;  
}

.blue-box-right {
    display: flex;
    width: 180px;
    height: 100px;
    background-color: #3882f6 ;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    justify-content: center;
    flex-direction: column;
}

.sign-up-2 {
    border: 2px solid white;
    width: 90px;
    justify-self: end;

}

.footer {
    display: flex;
    height: 50px;
    flex-direction: row;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    font-size: small;
}

img {
    border-radius: 8px;
}